@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: rgb(235, 219, 230);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #c894b0;
  position: relative;
}

.nav-home {
  display: none;
}

.logo {
}

.title-introduction {
  padding-left: 40px;
}

.margin-block-start-0 {
  margin-block-start: 0;
}

.margin-block-end-0 {
  margin-block-end: 0;
}

.margin-bottom {
  margin-bottom: 20px;
}

.card {
  height: 15vw;
}

@media (min-width: 800px) {
  .menu-icon {
    display: none;
  }

  .sweets-category.active {
    position: absolute;
    display: block;
    background-color: #c894b0;
  }

  .sweets-category.active > li {
    margin-bottom: 10px;
  }

  .nav-elements {
  }

  .nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }

  .nav-elements ul li:not(:last-child) {
    margin-right: 60px;
  }
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 800px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    width: 30px;
    position: absolute;
    right: 20px;
  }

  .nav-elements {
    position: absolute;
    right: 0px;
    top: 60px;
    background-color: #c894b0;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements * {
    white-space: nowrap;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements > ul {
    padding-inline-start: 0;
    margin-block-start: 0;
  }

  .nav-elements > ul > li {
    margin-right: unset;
    padding: 11px 0 11px;
    border-top: 1px solid rgb(121, 26, 26);
    padding-left: 40px;
  }

  .nav-elements > ul > li:last-child {
    border-bottom: 1px solid rgb(121, 26, 26);
  }

  .nav-elements ul li:not(:last-child) {
    margin-right: 0;
  }

  .sweets-category {
    height: 0;
    list-style-type: none;
  }

  .sweets-category.active {
    height: 100%;
    display: block;
  }

  .margin-right-auto {
    margin-right: auto;
  }
}
